@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

* {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

html,
body {
  height: 100%;
}

#sidebar {
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #3d3d3d;
}

#sidebar-container {
  min-width: 100px;
}

#main-container {
  min-width: 0px;
}

.sidebar-link#active,
.sidebar-link:hover {
  transition: all 0.3s;
  background: #8c8c8c;
}



.toast-container {
  bottom: 10px;
}
