@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

* {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

#sidebar {
  height: 100%;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  left: 0;
  background-color: #3d3d3d; /* Black */
}

.sidebar-link-p {
  color: white;
  font-size: 1.1em;
  padding: 10px;
  margin: 0px;
}

.sidebar-link#active,
.sidebar-link:hover {
  transition: all 0.3s;
  background: #8c8c8c;
}

.main-view {
  min-width: 300px;
}
